// CUSTOM BS
@import "../components/custom";

// COMPONENTS
@import "../components/header";
@import "../components/home";
@import "../components/about";
@import "../components/serving";
@import "../components/menu";
@import "../components/video";
@import "../components/latest";
@import "../components/location";
@import "../components/footer";
@import "../components/menu-page";
@import "../components/know";
@import "../components/best";
@import "../components/history";
@import "../components/things";
@import "../components/story";
@import "../components/blog";
@import "../components/tomatoes";
@import "../components/contact";

// MEDIA QUERIES COMPONENTS
@import "../media-queries/media-home";
@import "../media-queries/media-about";
@import "../media-queries/media-serving";
@import "../media-queries/media-menu";
@import "../media-queries/media-video";
@import "../media-queries/media-latest";
@import "../media-queries/media-location";
@import "../media-queries/media-footer";
@import "../media-queries/media-know";
@import "../media-queries/media-best";
@import "../media-queries/media-history";
@import "../media-queries/media-things";
@import "../media-queries/media-story";
@import "../media-queries/media-blog";
@import "../media-queries/media-tomatoes";
@import "../media-queries/media-contact";

// MIXINS
@import "../scss/mixins/mixins";

// VARIABLES
@import "../scss/variables/variables";

// ANIMATIONS
@import "../scss/animations/btn";

// PAGE COMPONENTS
@import "../scss/page-components/title-stick";

* {
  box-sizing: border-box;
}
img,
span,
a {
  display: block;
}

// HTML

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

// CONTAINER

.custom_container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0;
}
