// CUSTOM BS
@import "../components/custom";

// COMPONENTS
@import "../components/header";
@import "../components/home";

// MEDIA QUERIES COMPONENTS
@import "../media-queries/media-header";
@import "../media-queries/media-home";

// MIXINS
@import "../scss/mixins/mixins";

// VARIABLES
@import "../scss/variables/variables";

* {
  box-sizing: border-box;
}

// HTML

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

// CONTAINER

.custom_container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0;
}
