// CUSTOM BS
@import "../components/custom";

// COMPONENTS
@import "../components/header";
@import "../components/home";
@import "../components/about";
@import "../components/serving";
@import "../components/menu";

// MEDIA QUERIES COMPONENTS
@import "../media-queries/media-home";
@import "../media-queries/media-about";
@import "../media-queries/media-serving";
@import "../media-queries/media-menu";


// MIXINS
@import "../scss/mixins/mixins";

// VARIABLES
@import "../scss/variables/variables";

// ANIMATIONS
@import "../scss/animations/btn";

// PAGE COMPONENTS
@import "../scss/page-components/title-stick";

* {
  box-sizing: border-box;
}

// HTML

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

// CONTAINER

.custom_container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0;
}
