// COLORS
:root {
  --White: #fff;
  --Colour-100: #b8b8b8;
  --Colour-200: #ffb577;
  --Orange: #ffc492;
  --Background: #19161b;
  --Light-Blue: #c4e4ea;
  --Card-Bg: #1f1d21;
}

// FONT SIZE
$font-size-base: 10px;

// MEDIA QUERIES WIDTH

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
