@mixin font-h1 {
  color: var(--White);
  font-family: "Playfair Display";
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.8rem;
}
@mixin font-h2 {
  color: var(--White);
  font-family: "Playfair Display";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.8rem;
  @media (max-width: $lg) {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  @media (max-width: $md) {
    font-size: 2.6rem;
    line-height: 3.8rem;
  }
}
@mixin font-h3 {
  color: var(--White);
  font-family: "Playfair Display";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
}
@mixin font-h4 {
  color: var(--White);
  font-family: "Playfair Display";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}
@mixin font-paragraph-no-opacity {
  color: var(--Colour-100);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
}
@mixin font-paragraph-opacity {
  color: var(--Colour-100);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  opacity: 0.6;
}
@mixin label-p {
  color: var(--White);
  font-family: "Playfair Display";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.8rem;
}
@mixin label-med {
  color: var(--White);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  opacity: 0.87;
}
@mixin label-extra-small {
  color: var(--White);
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  opacity: 0.6;
}
@mixin nav-paragraph {
  color: var(--White);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  text-transform: capitalize;
}
@mixin caption {
  color: var(--Colour-200);
  font-family: "Playfair Display";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
@mixin number1 {
  color: var(--Light-Blue);
  font-family: Poppins;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.6rem;
}
@mixin number2 {
  color: var(--White);
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  opacity: 0.87;
}
@mixin number3 {
  color: var(--White);
  font-family: Poppins;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
}
@mixin font-picks {
  color: var(--Light-Blue);
  font-family: "Playfair Display";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1rem;
}
@mixin display01 {
  color: var(--White);
  font-family: Gilroy-Bold;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 400;
}
@mixin label-extra-small {
  color: var(--White);
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}
@mixin font-date {
  color: var(--Colour-100);
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
@mixin footer-rights {
  color: var(--Colour-100);
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: capitalize;
}
