@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: 1300px) {
  .header {
    padding: 0rem 1.4rem;
  }
}
@media (max-width: 910px) {
  .navbar .navbar-link-logo {
    padding-right: 3rem;
  }
  .navbar .navbar-nav {
    gap: 2rem;
  }
}
