@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: 1230px) {
  .contact {
    &_wrapper {
      padding-left: 5rem;
    }
  }
}
@media (max-width: 1130px) {
  .contact {
    &_wrapper {
      padding-left: 0rem;
      gap: 0.5rem !important;
    }
  }
}
@media (max-width: $lg) {
  #Name {
    margin-bottom: 3rem;
  }
}
@media (max-width: $md) {
  .contact {
    padding: 5rem 0rem;
  }
}
