@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $lg) {
  .story {
    &_wrapper {
      text-align: center;
      padding-right: 0;
    }
    &_box {
      padding-right: 0;
      justify-content: center !important;
      margin-bottom: 2.4rem;
    }
    &_content {
      text-align: center;
      padding-left: 0;
      &-text {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: $md) {
  .story {
    padding: 5rem 0rem;
  }
}

@media (max-width: $sm) {
  .story {
    &_wrapper {
      &-title {
        font-size: 3.2rem;
      }
    }

    &_box {
      display: none !important;
    }
  }
}
