@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

// HEADER DESKTOP

.custom-header-padding {
  padding: 3rem 0rem;
}

.custom-nav-link {
  padding: 0;
  &:hover {
    color: var(--Orange);
  }
  &:focus {
    color: var(--Orange);
  }
}
.custom-nav-ul {
  gap: 4rem;
  padding: 0 0 0 4rem;
}

// HEADER DESKTOP

// HEADEAR MOBILE

.custom-mobile-nav-ul {
  gap: 2rem;
}

// HEADEAR MOBILE

// SECTION SERVING

.custom-serving-row {
  padding-top: 12.8rem;
}

@media (max-width: $md) {
  .custom-serving-row {
    padding-top: 0rem;
  }
}

// SECTION SERVING
