@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.header {
  //   background-color: var(--Section-bg);
}
.header-nav-link {
  padding-left: 0px;
  padding-right: 0px;
  padding: 0px;
}
.navbar-logo {
  margin-right: 0;
}
