@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.header {
  background-color: var(--Background);
  &_copy {
    &-link {
      @include label-med;
      color: var(--Orange);
      text-decoration: none;
      gap: 1.2rem;
    }
  }
}

.nav-link-font {
  @include nav-paragraph;
}
