@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/btn";

.home {
  padding: 9.5rem 0 8rem 0;
  background-color: var(--Background);
  &_wrapper {
    max-width: 62.4rem;
    &-title {
      @include font-h1;
    }
    &-text {
      @include font-paragraph-no-opacity;
      padding-top: 1.6rem;
    }
    &-btn {
      gap: 0.8rem;
      @include btn;
      margin: 3.2rem 0 4rem 0;
      text-decoration: none;
    }
    &-ul {
      gap: 1.6rem;
      &--title {
        @include font-h4;
      }
      &--text {
        @include font-paragraph-no-opacity;
      }
    }
  }
}
