@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/page-components/title-stick";

.serving {
  padding: 8rem 0;
  background-color: var(--Background);
  &_content {
    margin-bottom: 5.7rem;
    &-caption {
      @include caption;
      @include title-stick;
    }
    &-title {
      @include font-h2;
      max-width: 66rem;
    }
    &-text {
      @include font-paragraph-no-opacity;
      max-width: 55rem;
    }
  }
  &_card {
    max-width: 30rem;
    width: 100%;
    &-title {
      @include font-h3;
      padding: 2.4rem 0 1.2rem 0;
    }
    &-text {
      @include font-paragraph-no-opacity;
    }
  }
}
