@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.story {
  padding: 10rem 0rem 16rem 0rem;
  background-color: var(--Background);
  &_wrapper {
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
    &-title {
      @include font-h1;
    }
    &-text {
      @include font-paragraph-no-opacity;
    }
  }
  &_box {
    padding-right: 5rem;
    &-img--1 {
      padding-top: 4rem;
    }
    &-img--2 {
      padding-bottom: 4rem;
    }
  }
  &_content {
    padding-left: 4rem;
    &-title {
      @include font-h3;
      padding-bottom: 2.4rem;
      & span {
        color: var(--Orange);
      }
    }
    &-text {
      max-width: 54rem;
      width: 100%;
      @include font-paragraph-no-opacity;
      padding-bottom: 1.6rem;
    }
  }
}
